.container {
    display: block;
    width: 100%;
}

.header {
    width: 100%;
    min-height: 250px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: grey;
    /*position: fixed;*/
    z-index: 2;
}

.footer {
    width: 100%;
    min-height: 250px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: grey;
    z-index: 2;
}

.main {
    width: 100%;
    display: flex;
    z-index: 2;
}

.menu-left {
    float: left;
    width: 20%;
    min-height: 1000px;
    text-transform: capitalize;
    background-color: yellow;
    font-size: 50px;
    z-index: 2;
}

.body {
    float: left;
    width: 60%;
    min-height: 1000px;
    text-transform: capitalize;
    font-size: 50px;
    z-index: 2;
}

.menu-right {
    float: left;
    width: 20%;
    min-height: 1000px;
    text-transform: capitalize;
    background-color: orange;
    font-size: 50px;
    z-index: 2;
}